{% if post %}
  <header>
    {% if post.private? %}
      <div class="right private-indicator">
        <span class="lock-icon hint hint--left" data-hint="This post is private. Only you and people you've sent the link to have access to this post."></span>
      </div>
    {% endif %}

    <div class="post-title">
      <h2 style="font-size:55px;color:#333;margin:0 0 0 0;"><a id="blog-title-link" style="color: black;" href="{{ post.url }}">{{ post.title }}</a></h2>

      <h3 style="margin:0 0 0 0;font-size:20px;"><i>Posted on {{ post.published_at | local_date: "%B %e, %Y" }}</i></h3>
        {% if post.tags.size > 0 %}
          {% for post_tag in post.tags %}
            <a style="color:#000i;font-style:italic;" href="{{ post_tag.url }}">{{ post_tag.name }}</a>{% if forloop.last == false %}&#44;{% endif %}
          {% endfor %}
        {% endif %}

      {% if request.template == 'post' and post.show_byline? %}
        <div class="author">
          by
          {% if post.author.url %}
            <a href="{{ post.author.url }}">{{ post.author.name }}</a>
          {% else %}
            {{ post.author.name }}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </header>

  <div class="post-body" id="post_body_{{ post.id }}">
    {% if post.url.current_page? %}
      {{ post.body }}
    {% else %}
      {{ post.excerpt_or_body }}
    {% endif %}
  </div>
{% endif %}
