{% assign show_back_to_blog = true %}

<div id="main">

  <div class="post-container">
    <article class="post">
      <h2 style="font-size:55px;color:#333;margin:0 0 0 0;">{{ post.title }}</h2>
      <!-- replace title header stuff here -->
      <h3 style="margin:0 0 0 0;font-size:20px;"><i>Posted on {{ post.published_at | local_date: "%B %e, %Y" }}</i></h3>
      {% if post.tags.size > 0 %}
            {% for post_tag in post.tags %}
              <a style="color:#000i;font-style:italic;" href="{{ post_tag.url }}">{{ post_tag.name }}</a>{% if forloop.last == false %}&#44;{% endif %}
            {% endfor %}
      {% endif %}
      {% include 'post' %}
    </article>

    <!--<div class="post-aside">
      <section class="post-date">
        <div class="display-date">
          Posted
          <a href="{{ post.url }}">{{ post.published_at | relative_date }}</a>
        </div>

      </section>

      <section class="stats">
        <span class="stat">
          {{ post | view_count }}
        </span>

        <span class="measure">
          views
        </span>
      </section>
    </div> -->

  </div>

  <footer id="post_responses" class="post-responses">
    {% include 'responses' %}
    {% form 'comment' %}
  </footer>
</div>
